.text-red {
  color: red;
}

/* .preview-area,
.form-area {
  text-align: center;
} */

table {
  margin-left: auto;
  margin-right: auto;
}

.backgroundColor-yellow {
  background-color: yellow;
  padding: 10px;
}

.main {
  color: red;
  text-transform: uppercase;
}

.text-weight {
  font-weight: bold;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}
