<h1 class="text-red">Angular App</h1>
<h1 [class.text-red]="bool">Angular App</h1>
<p>{{ message }}</p>

<h1 [style.color]="bool ? 'red' : 'blue'">Style Binding</h1>

<app-navbar></app-navbar>
<app-post
  [fromParent]="parentMessage"
  (messageEvent)="receiveMessage($event)"
></app-post>

<!-- String Interpolation -->
<p>{{ fromChildOutput }}</p>

<!-- Property Binding -->

<img src="{{ imgUrl }}" alt="" />
<img [src]="imgUrl" alt="" />

<!-- Event Binding -->
<button (click)="buttonClick()">Click Me</button>

<!-- Event Filtering -->
<input type="text" (keyup.enter)="onKeyUp($event)" />

<!-- Tempate variable -->
<input
  type="text"
  (keyup.enter)="onKeyUpForTemplate(username.value)"
  #username
/>

<!-- One-way Data Binding -->
<input type="text" [value]="textValue" (keyup.enter)="onKeyUpForBinding()" />

<!-- Two-way Data Binding -->
<input
  type="text"
  [(ngModel)]="textValue"
  (keyup.enter)="onKeyUpForBinding()"
/>
